body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
 } 
  

h2 {
  position: absolute;
  z-index: 1000;
  padding: 15px 20px;
  margin: 0;
  border-radius: 8px;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #000000;
  background: rgb(244, 242, 182);
  bottom: 115px;
  right: 20px;
  animation: fadeIn 2s ease-in;
}


h4 {
  position: absolute;
  bottom:80px;
  right: 20px;
  z-index: 1000;
  background: rgb(244, 242, 182);
  padding: 15px 20px;
  margin: 0;
  border-radius: 8px;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #000000;
  animation: fadeIn 2s ease-in;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}

.dropdown-content.show {
  display: block;
}

  
.navbar {
  animation: fadeIn 2s ease-in;
  position: fixed;         
  top: 0;                  
  left: 0;
  width: 100%;
  overflow: visible;
  background-color: rgb(244, 242, 182);
  z-index: 5000;           
  border-bottom: 2px solid rgb(159, 156, 156);
  box-shadow: 0 2px 6px #ff63f7;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: #ff63f7;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: #ff63f7;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  cursor: pointer;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 9999;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
